.App {
  text-align: center;
  padding: 150px;
  background-color: #6692b3;
}

.to-do{
  width: 65%;
  margin: 39px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2142f34f;
  border-radius: 8px;
}

.form{
  width: 90%;
    display: flex;
    position: relative;
}

.input{
  width: 80%;
  height: 30px;
  margin: auto;
  border: 5px solid #1e1e85;
  border-radius: 8px;
}

.input-button{
  position: absolute;
  right: 9%;
  width: 40px;
  height: 38px;
  background-color: #1e1e85;
  border: none;
  font-size: x-large;
  border-top-right-radius: 8px;
  color: white;
}

.line{
  width: 80%;
  border: 1px solid #424040;
  margin: 7px;
}

.list-item{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80px;
  padding: 0;
}

.item{
  width: 80%;
  margin: 5px auto;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #8ca8e4fc;
}

.item-title{
  display: inline-block;
  color: #342f3a;
}

.button{
  border-radius: 50%;
  border: none;
}